body
{
<<<<<<< HEAD
    color: #e62121;
=======
    color: rgb(5, 29, 238);
>>>>>>> 232bca5 (modifiqe la cabecera, y el color principar)
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera {
    background: #aaf;
    color: black;
    font-weight: bold;
    box-shadow: -2px -7px 28px -1px rgba(196,149,29,1);
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline 
{
 padding: 0 0 0 1em;
 font-weight: normal;
 font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}

#container #p2
{
    color: rgb(110, 15, 218);
}

#container #p3 
{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}